registry=https://pkgs.dev.azure.com/aiasgdirecttest/_packaging/default_feed/npm/registry/
always-auth=true
; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 6/16/2019.
; begin auth token
//pkgs.dev.azure.com/aiasgdirecttest/_packaging/default_feed/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiYmU4MGQ0OC1mZmU4LTY3MjYtYjE2MS05YTM0ZjNlY2EzNDkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMjE3YmVjYmUtYjk5MC00ZWFjLWEzMmMtN2IxMTNkYmIxN2VkIiwic2lkIjoiMTk1OTVhZTUtOGUwZS00OTJiLTgxOGMtNThiMmY5ZDE5MTI4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjMzNzE4MGUxLWRlNjUtNDI4ZS1iNGVmLWQ5NGNmYTdmNjgzNCIsIm5iZiI6MTU1MjkwMDI5MCwiZXhwIjoxNTYwNjc2ODkwfQ.fqc3Mngcsojmt1SPa4J3pCD8s15nWu1D3P3yF564QW_LO2ojUDGp-qb4CURoS9uIyswvDcMAqVyhxqHeCkQQ30kiZsVqijKxnutNuf9PpKjpO_G7l6EbRrjAp-IXSFNCgA0q2N1Huk_7Te0y7eYwUkwtLml1M7wo5WSSOUjuydsEEv3Isi4ilfdryq4wZEmEOGoc7viy69PDuzKszjGT4rqQBSHlWAJWLt7OvFMQfzqyzyxDHBPC3bhUsJzVGFUyuFUl8X4CY3glmL8J8KN9PP-rUnOfu-IoB1J2Ui0nDT5box1v1wpS4fCfF8minjWszSzFEW7UpAfgF_NqHncCng
//pkgs.dev.azure.com/aiasgdirecttest/_packaging/default_feed/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiJiYmU4MGQ0OC1mZmU4LTY3MjYtYjE2MS05YTM0ZjNlY2EzNDkiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMjE3YmVjYmUtYjk5MC00ZWFjLWEzMmMtN2IxMTNkYmIxN2VkIiwic2lkIjoiMTk1OTVhZTUtOGUwZS00OTJiLTgxOGMtNThiMmY5ZDE5MTI4IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOjMzNzE4MGUxLWRlNjUtNDI4ZS1iNGVmLWQ5NGNmYTdmNjgzNCIsIm5iZiI6MTU1MjkwMDI5MCwiZXhwIjoxNTYwNjc2ODkwfQ.fqc3Mngcsojmt1SPa4J3pCD8s15nWu1D3P3yF564QW_LO2ojUDGp-qb4CURoS9uIyswvDcMAqVyhxqHeCkQQ30kiZsVqijKxnutNuf9PpKjpO_G7l6EbRrjAp-IXSFNCgA0q2N1Huk_7Te0y7eYwUkwtLml1M7wo5WSSOUjuydsEEv3Isi4ilfdryq4wZEmEOGoc7viy69PDuzKszjGT4rqQBSHlWAJWLt7OvFMQfzqyzyxDHBPC3bhUsJzVGFUyuFUl8X4CY3glmL8J8KN9PP-rUnOfu-IoB1J2Ui0nDT5box1v1wpS4fCfF8minjWszSzFEW7UpAfgF_NqHncCng
; end auth token